/* theme color */


.el-card__body {
  padding: 0;
}
.el-aside{
  width: auto!important;
}
.el-header{
  padding: 0;
}
.el-menu{
  border-right: none;
}
.el-menu.el-menu--horizontal{
  border: none;
}